[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
qrcode = "*"

[dev-packages]
django-debug-toolbar = "*"
drf-spectacular = "*"

[requires]
python_version = "3.10"
